[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["jsonwebtoken", "node-fetch"]

[[redirects]]
  from = "/admin"
  to = "/admin/"
  status = 200
