@tailwind base;
@tailwind components;
@tailwind utilities;

.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  @apply tracking-wide;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Caveat Brush', 'Inter', sans-serif;
}

header nav a  {
  font-family: 'Caveat Brush', 'Inter', sans-serif;
}

h1 {
  @apply text-5xl text-gray-800 mb-4;
}

h2 {
  @apply text-4xl text-gray-800 mb-3;
}

h3 {
  @apply text-3xl text-gray-800 mb-2;
}

/* Setzt die Schriftart auf "Caveat Brush" > Inter > sans-serif für das gesamte Dokument */
body {
  font-family: 'Inter', sans-serif;
}

header {
  font-family: 'Inter', sans-serif; /*'Caveat Brush', */
  @apply tracking-wide;
}
footer {
  font-family: 'Inter', sans-serif; /*'Caveat Brush', */
  @apply tracking-wide;
}

footer a {
  @apply text-gray-100 hover:brightness-125 hover:underline hover:text-adobelightyellow transition-colors;  /* hover:text-opacity-50 */
}

.burger-menu-toggle {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 32px;
            height: 25px;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            z-index: 20;
}

.burger-menu-toggle:focus {
            outline: none;
}

/*
* Die drei Linien des Burger-Icons
*/
.burger-menu-toggle span {
      width: 100%;
      height: 3px;
      background: #262626; /* entspricht adobeblack #333; Entspricht darkgray */
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
      transform-origin: center;
}

/*
* Zustand, wenn das Menü geöffnet ist
* Die Linien werden zu einem 'X'
*/
.burger-menu-toggle.is-open span:nth-child(1) {
    transform: rotate(45deg);
}

.burger-menu-toggle.is-open span:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
}

.burger-menu-toggle.is-open span:nth-child(3) {
    transform: rotate(-45deg);
}

/*
* Mobile Menü Ansicht
* Anfangszustand: außerhalb des Bildschirms
*/
/* .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #eef6f9; /*         lightblue: "#eef6f9" //  #FFF6E5; beige */
    /* transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 60;
}

/*
* Zustand, wenn das Menü geöffnet ist
*/
/* .mobile-menu.is-open {
    transform: translateX(0);
} */ 

.group-hover > ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
ul.absolute {
  z-index: 95; /* damit es über Content, unter Header */
}

#mobile-overlay {
  z-index: 70; /* über dem Content, unter dem Drawer */
}
#mobile-menu {
  z-index: 80; /* über allem */
}
header {
  z-index: 90; /* damit Header immer oben bleibt */
}
