@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-semibold text-gray-800 mb-4;
}

h2 {
  @apply text-3xl font-semibold text-gray-800 mb-3;
}

h3 {
  @apply text-2xl font-semibold text-gray-800 mb-2;
}

/* Setzt die Schriftart auf Inter für das gesamte Dokument */
body {
  font-family: 'Inter', sans-serif;
}

.burger-menu-toggle {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 32px;
            height: 25px;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            z-index: 20;
}

.burger-menu-toggle:focus {
            outline: none;
}


/*
* Mobile Menü Ansicht
* Anfangszustand: außerhalb des Bildschirms
*/
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #FFF6E5; /* beige */
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
}

/*
* Zustand, wenn das Menü geöffnet ist
*/
.mobile-menu.is-open {
    transform: translateX(0);
}
