---
// optional: Layout import
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="404 - Seite nicht gefunden">
  <main class="flex flex-col items-center justify-center text-center p-8">
    <h1 class="text-5xl font-bold mb-4">Oh weh! Wir konnten die Seite leider nicht finden.</h1>
    <p class="text-lg mb-6">Vielleicht gehen wir nochmal zurück zur Startseite und sehen dort nach.</p>
    <div><a href="/">
    <img src="/bilder/kind-mit-fernglas.jpg" alt="404 - Seite nicht gefunden - Kind sucht mit Fernglas" class="mb-6 rounded-lg shadow-lg max-h-[450px]" />
    <button class="btn btn-primary">Zurück zur Startseite</button></a></div>
  </main>
</BaseLayout>