    ---
    ---
    <!-- Footer -->
    <footer class="bg-darkblue text-lightblue py-8">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-row md:flex-row justify-between items-center space-y-4 md:space-y-0">
            <p>&copy; 2025 Kindergarten & Krippe St. Georg Großweil. Alle Rechte vorbehalten.</p>
            <nav class="flex flex-row space-x-4">
                <ul>
                    <li><a href="/datenschutz/" class="hover:text-sunyellow">Datenschutz</a></li>
                    <li><a href="/impressum/" class="hover:text-sunyellow">Impressum</a></li>
                </ul>
            </nav>
        </div>
    </footer>
    