    ---
    ---
    <!-- Footer -->
    <footer class="p-4 bg-adobedarkblue text-adobelightblue border-t border-gray-200 shadow-sm md:flex md:items-center md:justify-between md:p-6">
        <span class="text-sm text-adobelightblue-500 sm:text-center">&copy; 2025 <a href="https://kita-grossweil.netlify.app/">Kindergarten & Krippe St. Georg Großweil</a>. Alle Rechte vorbehalten.
        </span>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-row md:flex-row justify-between items-center space-y-4 md:space-y-0"></div>
            <nav class="flex flex-row space-x-4">
                <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-adobelightblue-500 sm:mt-0">
                    <li><a href="/datenschutz/" class="me-4 md:me-6">Datenschutz</a></li>
                    <li><a href="/impressum/" class="me-4 md:me-6">Impressum</a></li>
                </ul>
            </nav>
        </div>
    </footer>
    