    ---
    ---
    <!-- Footer -->
    <footer class="footer">
        <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-6 space-y-4 md:space-y-0">
            <p class="text-m">&copy; {new Date().getFullYear()} <a href="https://kita-grossweil.netlify.app/">Kindergarten & Krippe St. Georg Großweil</a>. Alle Rechte vorbehalten.</p>
            <div class="flex space-x-6 text-m">
                <a href="https://www.instagram.com/kindertagesstaettegrossweil/" target="_blank" rel="noopener" aria-label="Kita Großweil auf Instagram">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline" fill="currentColor" viewBox="0 0 24 24">
                    <path d="M7.75 2h8.5A5.75 5.75 0 0 1 22 7.75v8.5A5.75 5.75 0 0 1 16.25 22h-8.5A5.75 5.75 0 0 1 2 16.25v-8.5A5.75 5.75 0 0 1 7.75 2zm4.25 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8zm6-1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>
                    Instagram
                </a>
                <a href="/datenschutz/">Datenschutz</a>
                <a href="/impressum/">Impressum</a>
            </div>
        </div>
    </footer>