---
const { title, data, note } = Astro.props;
---
<section class="my-3 shadow-none">

  <h3 class="mb-2">{title}</h3>
  <div class="overflow-x-auto">
    <table class="min-w-full ">
      <thead class="bg-brand-hoverSoft text-brand-secondary text-center">
        <tr>
          <th class="py-2 px-4 border-b border-brand-hoverSoft rounded-tl-lg">Buchungszeit</th>
          <th class="py-2 px-4 border-b border-brand-hoverSoft rounded-tr-lg">Beitrag</th>
        </tr>
      </thead>
      <tbody>
        {data.map((row, idx) => (
          <tr class={`${idx % 2 === 0 ? 'bg-brand-hoverSoft/20' : 'bg-brand-surface'}`}>
            <td class="py-2 px-4 border-b border-brand-hoverSoft">{row.time}</td>
            <td class="py-2 px-4 border-b border-brand-hoverSoft">{row.fee}</td>
          </tr>
        ))}
      </tbody>
    </table>
  </div>
  {note && <p class="text-brand-text text-sm mt-2">{note}</p>}
</section>
